In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
df_forbes = pd.read_csv('/Users/Julia/labs/Ironhack-Module-1-Project---Pipelines-Julia-Roch-/data/processed/processed_data.csv')
df_wikipedia = pd.read_csv('/Users/Julia/labs/Ironhack-Module-1-Project---Pipelines-Julia-Roch-/data/processed/processed_data_ws.csv')

In [3]:
df_complete = pd.merge(df_forbes, df_wikipedia, on='country', how='outer')

In [4]:
display(df_complete)

,id,lastName,age (years old),Unnamed: 0_x,gender,country,image,Source_x,worth (in BUSD),worthChange (in millions USD),realTimePosition,name,position,Unnamed: 0,Rank,Population,Date,Source_y,% of World Population
0,8760.0,BEZOS,54.0,52.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Amazon,112.0,0.000,1.0,jefF BEZOs,1.0,52.0,3,3.305578e+08,9 Jan 2020,National population clock[5],0.04
1,5328.0,zUCKERBERg,33.0,56.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Facebook,71.0,0.000,5.0,maRK ZUCKERBERG,5.0,56.0,3,3.305578e+08,9 Jan 2020,National population clock[5],0.04
2,1108.0,eLLISOn,73.0,61.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> software,58.5,-0.001,8.0,larry ELLISON,10.0,61.0,3,3.305578e+08,9 Jan 2020,National population clock[5],0.04
3,5041.0,paGE,45.0,63.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,48.8,0.000,9.0,LARRY PAGE,12.0,63.0,3,3.305578e+08,9 Jan 2020,National population clock[5],0.04
4,3569.0,wALTON,68.0,67.0,None,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail ==> Walmart,46.0,0.000,21.0,alicE WALTOn,16.0,67.0,3,3.305578e+08,9 Jan 2020,National population clock[5],0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441,NaN,NaN,NaN,NaN,NaN,Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,–,1.400000e+03,1 Jul 2018,National annual estimate[94],0.00
2442,NaN,NaN,NaN,NaN,NaN,Vatican City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,–,7.990000e+02,1 Jul 2019,UN projection[2],0.00
2443,NaN,NaN,NaN,NaN,NaN,Cocos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,–,5.380000e+02,30 Jun 2018,National estimate[197],0.00
2444,NaN,NaN,NaN,NaN,NaN,Pitcairn Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,–,5.000000e+01,1 Jan 2019,National estimate[198],0.00
2445,NaN,NaN,NaN,NaN,NaN,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.760127e+09,9 Jan 2020,UN projection[199],1.00

In [6]:
df_complete.plot(kind='scatter',x='country',y='',color='% of World Population')
plt.show()

ValueError: scatter requires x column to be numeric