In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
df_ws = pd.read_html(url)

In [3]:
df_world_population = df_ws[0]
df_world_population.rename(columns={'Country(or dependent territory)':'Country'}, inplace=True)
display(df_world_population)

,Rank,Country,Population,% of World Population,Date,Source
0,1,China[b],1400810480,NaN,9 Jan 2020,National population clock[3]
1,2,India,1357124400,NaN,9 Jan 2020,National population clock[4]
2,3,United States[c],330557804,NaN,9 Jan 2020,National population clock[5]
3,4,Indonesia,266911900,NaN,1 Jul 2019,National annual projection[6]
4,5,Pakistan,218220000,NaN,9 Jan 2020,National population clock[7]
...,...,...,...,...,...,...
236,–,Tokelau (NZ),1400,NaN,1 Jul 2018,National annual estimate[94]
237,–,Vatican City,799,NaN,1 Jul 2019,UN projection[2]
238,–,Cocos (Keeling) Islands (Australia),538,NaN,30 Jun 2018,National estimate[197]
239,–,Pitcairn Islands (UK),50,NaN,1 Jan 2019,National estimate[198]
240,NaN,World,7760127000,100%,9 Jan 2020,UN projection[199]

In [4]:
df_world_population['Country'].unique()

array(['China[b]', 'India', 'United States[c]', 'Indonesia', 'Pakistan',
       'Brazil', 'Nigeria', 'Bangladesh', 'Russia[d]', 'Mexico', 'Japan',
       'Philippines', 'Egypt', 'Ethiopia', 'Vietnam', 'DR Congo', 'Iran',
       'Germany', 'Turkey', 'France[e]', 'Thailand', 'United Kingdom[f]',
       'Italy', 'South Africa', 'Tanzania[g]', 'Myanmar', 'South Korea',
       'Colombia', 'Kenya', 'Spain', 'Argentina', 'Algeria', 'Sudan',
       'Ukraine[h]', 'Uganda', 'Iraq', 'Poland', 'Canada', 'Morocco[i]',
       'Saudi Arabia', 'Uzbekistan', 'Malaysia', 'Afghanistan',
       'Venezuela', 'Peru', 'Ghana', 'Angola', 'Nepal', 'Yemen',
       'Mozambique', 'Cameroon', 'Ivory Coast', 'Madagascar', 'Australia',
       'North Korea', 'Taiwan[j]', 'Niger', 'Sri Lanka', 'Burkina Faso',
       'Mali', 'Romania', 'Chile', 'Kazakhstan', 'Malawi', 'Ecuador',
       'Zambia', 'Netherlands', 'Syria', 'Guatemala', 'Senegal', 'Chad',
       'Somalia[k]', 'Cambodia', 'Zimbabwe', 'South Sudan', 'Rwanda',
       'Guinea', 'Benin', 'Haiti', 'Tunisia', 'Belgium', 'Bolivia',
       'Cuba', 'Burundi', 'Greece', 'Czech Republic', 'Jordan',
       'Dominican Republic', 'Sweden', 'Portugal', 'Azerbaijan',
       'Hungary', 'United Arab Emirates', 'Belarus', 'Honduras', 'Israel',
       'Tajikistan', 'Austria', 'Switzerland', 'Papua New Guinea',
       'Sierra Leone', 'Togo', 'Hong Kong (China)', 'Paraguay', 'Laos',
       'Bulgaria', 'Serbia[l]', 'Lebanon', 'Libya', 'El Salvador',
       'Kyrgyzstan', 'Nicaragua', 'Turkmenistan', 'Denmark', 'Singapore',
       'Finland', 'Central African Republic', 'Slovakia', 'Congo',
       'Norway', 'Costa Rica', 'Palestine', 'New Zealand', 'Ireland',
       'Oman', 'Liberia', 'Kuwait', 'Panama', 'Mauritania', 'Croatia',
       'Georgia[m]', 'Uruguay', 'Eritrea', 'Bosnia and Herzegovina',
       'Mongolia', 'Puerto Rico (US)', 'Armenia', 'Albania', 'Lithuania',
       'Qatar', 'Jamaica', 'Moldova[n]', 'Namibia', 'Gambia', 'Botswana',
       'Gabon', 'Slovenia', 'North Macedonia', 'Lesotho', 'Latvia',
       'Kosovo[o]', 'Guinea-Bissau', 'Bahrain', 'East Timor',
       'Trinidad and Tobago', 'Equatorial Guinea', 'Estonia', 'Mauritius',
       'Eswatini', 'Djibouti', 'Fiji', 'Cyprus', 'Comoros', 'Guyana',
       'Bhutan', 'Solomon Islands', 'Macau (China)', 'Montenegro',
       'Luxembourg', 'Western Sahara[p]', 'Suriname', 'Cape Verde',
       'Malta', 'Transnistria[q]', 'Brunei', 'Belize', 'Bahamas',
       'Maldives', 'Iceland', 'Northern Cyprus[r]', 'Vanuatu', 'Barbados',
       'New Caledonia (France)', 'French Polynesia (France)',
       'Abkhazia[s]', 'São Tomé and Príncipe', 'Samoa', 'Saint Lucia',
       'Guam (US)', 'Curaçao (Netherlands)', 'Artsakh[t]', 'Kiribati',
       'Aruba (Netherlands)', 'Grenada',
       'Saint Vincent and the Grenadines', 'Jersey (UK)',
       'U.S. Virgin Islands (US)', 'F.S. Micronesia', 'Tonga',
       'Seychelles', 'Antigua and Barbuda', 'Isle of Man (UK)', 'Andorra',
       'Dominica', 'Cayman Islands (UK)', 'Bermuda (UK)', 'Guernsey (UK)',
       'American Samoa (US)', 'Greenland (Denmark)',
       'Northern Mariana Islands (US)', 'Marshall Islands',
       'South Ossetia[u]', 'Saint Kitts and Nevis',
       'Faroe Islands (Denmark)', 'Turks and Caicos Islands (UK)',
       'Sint Maarten (Netherlands)', 'Liechtenstein', 'Monaco',
       'Saint Martin (France)', 'Gibraltar (UK)', 'San Marino',
       'British Virgin Islands (UK)', 'Palau', 'Cook Islands (NZ)',
       'Anguilla (UK)', 'Wallis and Futuna (France)', 'Nauru', 'Tuvalu',
       'Saint Barthélemy (France)', 'Saint Pierre and Miquelon (France)',
       'Saint Helena, Ascensionand Tristan da Cunha (UK)',
       'Montserrat (UK)', 'Falkland Islands (UK)',
       'Christmas Island (Australia)', 'Norfolk Island (Australia)',
       'Niue (NZ)', 'Tokelau (NZ)', 'Vatican City',
       'Cocos (Keeling) Islands (Australia)', 'Pitcairn Islands (UK)',
       'World'], dtype=object)

In [5]:
df_world_population['new_column'] = df_world_population.apply(lambda row: (row.Population)/(7760127000), axis=1)

In [6]:
decimals = 2  
df_world_population['new_column'] = df_world_population['new_column'].apply(lambda x: round(x, decimals))
display(df_world_population)

,Rank,Country,Population,% of World Population,Date,Source,new_column
0,1,China[b],1400810480,NaN,9 Jan 2020,National population clock[3],0.18
1,2,India,1357124400,NaN,9 Jan 2020,National population clock[4],0.17
2,3,United States[c],330557804,NaN,9 Jan 2020,National population clock[5],0.04
3,4,Indonesia,266911900,NaN,1 Jul 2019,National annual projection[6],0.03
4,5,Pakistan,218220000,NaN,9 Jan 2020,National population clock[7],0.03
...,...,...,...,...,...,...,...
236,–,Tokelau (NZ),1400,NaN,1 Jul 2018,National annual estimate[94],0.00
237,–,Vatican City,799,NaN,1 Jul 2019,UN projection[2],0.00
238,–,Cocos (Keeling) Islands (Australia),538,NaN,30 Jun 2018,National estimate[197],0.00
239,–,Pitcairn Islands (UK),50,NaN,1 Jan 2019,National estimate[198],0.00
240,NaN,World,7760127000,100%,9 Jan 2020,UN projection[199],1.00

In [7]:
df_world_population['Country']=df_world_population['Country'].str.replace(r'\[.*?\]', '')
df_world_population['Country']=df_world_population['Country'].str.replace(r'\([^()]*\)', '')

In [8]:
df_world_population['Country'].unique()

array(['China', 'India', 'United States', 'Indonesia', 'Pakistan',
       'Brazil', 'Nigeria', 'Bangladesh', 'Russia', 'Mexico', 'Japan',
       'Philippines', 'Egypt', 'Ethiopia', 'Vietnam', 'DR Congo', 'Iran',
       'Germany', 'Turkey', 'France', 'Thailand', 'United Kingdom',
       'Italy', 'South Africa', 'Tanzania', 'Myanmar', 'South Korea',
       'Colombia', 'Kenya', 'Spain', 'Argentina', 'Algeria', 'Sudan',
       'Ukraine', 'Uganda', 'Iraq', 'Poland', 'Canada', 'Morocco',
       'Saudi Arabia', 'Uzbekistan', 'Malaysia', 'Afghanistan',
       'Venezuela', 'Peru', 'Ghana', 'Angola', 'Nepal', 'Yemen',
       'Mozambique', 'Cameroon', 'Ivory Coast', 'Madagascar', 'Australia',
       'North Korea', 'Taiwan', 'Niger', 'Sri Lanka', 'Burkina Faso',
       'Mali', 'Romania', 'Chile', 'Kazakhstan', 'Malawi', 'Ecuador',
       'Zambia', 'Netherlands', 'Syria', 'Guatemala', 'Senegal', 'Chad',
       'Somalia', 'Cambodia', 'Zimbabwe', 'South Sudan', 'Rwanda',
       'Guinea', 'Benin', 'Haiti', 'Tunisia', 'Belgium', 'Bolivia',
       'Cuba', 'Burundi', 'Greece', 'Czech Republic', 'Jordan',
       'Dominican Republic', 'Sweden', 'Portugal', 'Azerbaijan',
       'Hungary', 'United Arab Emirates', 'Belarus', 'Honduras', 'Israel',
       'Tajikistan', 'Austria', 'Switzerland', 'Papua New Guinea',
       'Sierra Leone', 'Togo', 'Hong Kong ', 'Paraguay', 'Laos',
       'Bulgaria', 'Serbia', 'Lebanon', 'Libya', 'El Salvador',
       'Kyrgyzstan', 'Nicaragua', 'Turkmenistan', 'Denmark', 'Singapore',
       'Finland', 'Central African Republic', 'Slovakia', 'Congo',
       'Norway', 'Costa Rica', 'Palestine', 'New Zealand', 'Ireland',
       'Oman', 'Liberia', 'Kuwait', 'Panama', 'Mauritania', 'Croatia',
       'Georgia', 'Uruguay', 'Eritrea', 'Bosnia and Herzegovina',
       'Mongolia', 'Puerto Rico ', 'Armenia', 'Albania', 'Lithuania',
       'Qatar', 'Jamaica', 'Moldova', 'Namibia', 'Gambia', 'Botswana',
       'Gabon', 'Slovenia', 'North Macedonia', 'Lesotho', 'Latvia',
       'Kosovo', 'Guinea-Bissau', 'Bahrain', 'East Timor',
       'Trinidad and Tobago', 'Equatorial Guinea', 'Estonia', 'Mauritius',
       'Eswatini', 'Djibouti', 'Fiji', 'Cyprus', 'Comoros', 'Guyana',
       'Bhutan', 'Solomon Islands', 'Macau ', 'Montenegro', 'Luxembourg',
       'Western Sahara', 'Suriname', 'Cape Verde', 'Malta',
       'Transnistria', 'Brunei', 'Belize', 'Bahamas', 'Maldives',
       'Iceland', 'Northern Cyprus', 'Vanuatu', 'Barbados',
       'New Caledonia ', 'French Polynesia ', 'Abkhazia',
       'São Tomé and Príncipe', 'Samoa', 'Saint Lucia', 'Guam ',
       'Curaçao ', 'Artsakh', 'Kiribati', 'Aruba ', 'Grenada',
       'Saint Vincent and the Grenadines', 'Jersey ',
       'U.S. Virgin Islands ', 'F.S. Micronesia', 'Tonga', 'Seychelles',
       'Antigua and Barbuda', 'Isle of Man ', 'Andorra', 'Dominica',
       'Cayman Islands ', 'Bermuda ', 'Guernsey ', 'American Samoa ',
       'Greenland ', 'Northern Mariana Islands ', 'Marshall Islands',
       'South Ossetia', 'Saint Kitts and Nevis', 'Faroe Islands ',
       'Turks and Caicos Islands ', 'Sint Maarten ', 'Liechtenstein',
       'Monaco', 'Saint Martin ', 'Gibraltar ', 'San Marino',
       'British Virgin Islands ', 'Palau', 'Cook Islands ', 'Anguilla ',
       'Wallis and Futuna ', 'Nauru', 'Tuvalu', 'Saint Barthélemy ',
       'Saint Pierre and Miquelon ',
       'Saint Helena, Ascensionand Tristan da Cunha ', 'Montserrat ',
       'Falkland Islands ', 'Christmas Island ', 'Norfolk Island ',
       'Niue ', 'Tokelau ', 'Vatican City', 'Cocos  Islands ',
       'Pitcairn Islands ', 'World'], dtype=object)

In [9]:
df_world_population.isnull().sum()

Rank                       1
Country                    0
Population                 0
% of World Population    240
Date                       0
Source                     0
new_column                 0
dtype: int64

In [10]:
df_world_population.drop('% of World Population', axis=1, inplace=True)

In [11]:
df_world_population.rename(columns={'new_column':'% of World Population'}, inplace=True)
df_world_population.rename(columns={'Country':'country'}, inplace=True)
display(df_world_population)

,Rank,country,Population,Date,Source,% of World Population
0,1,China,1400810480,9 Jan 2020,National population clock[3],0.18
1,2,India,1357124400,9 Jan 2020,National population clock[4],0.17
2,3,United States,330557804,9 Jan 2020,National population clock[5],0.04
3,4,Indonesia,266911900,1 Jul 2019,National annual projection[6],0.03
4,5,Pakistan,218220000,9 Jan 2020,National population clock[7],0.03
...,...,...,...,...,...,...
236,–,Tokelau,1400,1 Jul 2018,National annual estimate[94],0.00
237,–,Vatican City,799,1 Jul 2019,UN projection[2],0.00
238,–,Cocos Islands,538,30 Jun 2018,National estimate[197],0.00
239,–,Pitcairn Islands,50,1 Jan 2019,National estimate[198],0.00
240,NaN,World,7760127000,9 Jan 2020,UN projection[199],1.00

In [12]:
processed_data_ws = df_world_population.to_csv('/Users/Julia/labs/Ironhack-Module-1-Project---Pipelines-Julia-Roch-/data/processed/processed_data_ws.csv', index=False)